{% extends 'base/main.html' %}

{% block content %}


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <div class="col">

                <div class="container">
                    <div class="input-group">
                        <form action="">
                            <span class="input-group-text">Start-End Dates</span>
                            <input type="date" name='start-filter-area' class="form-control" value="{{ start_input }}">
                            <input type="date" name='end-filter-area' class="form-control" value="{{ end_input }}">
                            <button class="btn btn-success" type="submit"><i
                                    class="bi bi-filter-circle h1"></i></button>
                        </form>
                    </div>
                </div>

            </div>
        </tr>
        <tr>
            <th>Category</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for total in user_totals %}
        <tr>
            <td>{{ total.username|title }}</td>
            <td>{{ total.spend|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}